@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Movies</h2>
<div class="form-group">
    <a class="btn btn-primary" href="@Url.Action("MovieForm","Movie")" role="button">New Movie</a>
</div>

<table id="tblMovie" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Movie
            </th>
            <th>
                Genre
            </th>
            <th>Delete</th>
        </tr>
    </thead>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#tblMovie").DataTable({
                ajax: {
                    url: "/api/Movies",
                    dataSrc: ""
                },

                columns: [
                    {
                        data: "name",
                        render: function (data, type, movie) {
                            return "<a href='/api/Movies/" + movie.id + "'>" + movie.name + "</a>";
                        }
                    },

                    {
                        data: "genre.genreType"
                    },

                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id = " + data + ">Delete</button>";
                        }
                    }

                ]
            });

            $("#tblMovie").on("click", ".js-delete",function () {
                    var button = $(this);
                    bootbox.confirm("Are you sure you want to delete the movie?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/movies/" + button.attr("data-customer-id"),
                                    method: "DELETE",
                                    success: function () {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}

